#principiodavida{
    height: 100vh;
}
#preensado{
    background-color: #000000; 
    color: white;
}
#botao{
    color: white;
    background-color: rgb(107, 175, 231);
}
h1{
    color: rgb(0, 0, 0)
}