#principiodavida{
    height: 100vh;
}
#preensado{
    background-color: #8ddfff; 
    color: rgb(0, 0, 0);
}
#botao{
    color: white;
    background-color: rgb(255, 0, 0);
}
h1{
    color: rgb(255, 255, 255);
}
body{
    background-color: #a8a8a8;
}